[submodule "discordpy-poll"]
	path = discordpy-poll
	url = git@github.com:BadMiscuit/discordpy-poll.git
[submodule "discordpy-announcer"]
	path = discordpy-announcer
	url = git@github.com:BadMiscuit/discordpy-announcer.git
