[submodule "discordpy-poll"]
	path = discordpy-poll
	url = https://github.com/BadMiscuit/discordpy-poll
[submodule "discordpy-announcer"]
	path = discordpy-announcer
	url = https://github.com/BadMiscuit/discordpy-announcer
